body {
    background: #000;
    color: #FFF;
}

a {
    color: #FFF;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#animation {
    text-align: center;
}

#animation .img {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#animation .img.init {
    background-image: url('imgs/init.jpg');
}

#animation .img.animate {
    background-image: url('imgs/animate.gif');
}

#animation .img.down {
    background-image: url('imgs/down.jpg');
}

#animation div.upper {
    text-align: center;
}

#animation div.upper .img,
#animation div.upper #yt_video {
    margin: 10px;
    vertical-align: middle;
}

.glowing {
    outline: none;
    border-color: #ECC;
    box-shadow: 0 0 20px #ECC;
}

.box {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'PT Mono';
    line-height: 1.8em;
    vertical-align: top;
    text-align: left;
}

#player .title {
    margin: 0.2em 0;
    padding: 0;
}

#tempo {
    width: 4em;
}

#tempo_stat {
    margin-right: 20px;
    float: right;
}

#player #record_text {
    width: 100%;
    height: 60px;
    resize: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn {
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 1px solid #666;
    background-color: #222;
}

.btn i {
    min-width: 26px;
}

.btn:hover {
    background: rgba(255,255,255,0.2);
}

#btn_record {
    color: #800;
}

#btn_play:hover {
    color: #080;
}

#btn_stop {
    color: #888;
}

#btn_stop:hover {
    color: #fff;
}

#usage ul {
    padding-left: 0;
}

#usage li {
    list-style: none;
}

#usage div.thanks {
    font-size: 90%;
    color: #EEE;
}

#fb_like {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .box {
        margin: 20px auto;
        display: block;
        font-size: 14px;
        width: 80%;
        min-width: 280px;
    }
    #animation .img {
        margin: 10px;
    }
    #animation .img.ka {
        vertical-align: top;
        width: 40%;
        padding: 15% 0;
    }
    #animation .img.pon {
        width: 40%;
        padding: 15% 0;
    }
    #yt_video {
        width: 100%;
    }
    .hide-mobile {
        display: none !important;
    }
    #fork_me {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .box {
        width: 44%;
        margin: 20px 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-size: 16px;
        min-height: 150px;
    }
    #animation {
        border: 3px solid #fff;
        border-radius: 5px;
        padding-bottom: 10px;
        margin: 0 60px;
        font-family: 'PT Mono';
        line-height: 1.8em;
        vertical-align: top;
    }
    #animation .img.ka {
        width: 25%;
        padding: 10% 0;
    }
    #animation .img.ka.small {
        width: 20%;
        padding: 8% 0;
    }
    #animation .img.pon {
        width: 35%;
        display: block;
        margin: 0 auto;
        padding: 14% 0;
    }
    #animation .img.pon.small {
        width: 30%;
        padding: 12% 0;
    }
    #usage {
        padding: 0 20px;
    }
    .hide-desktop {
        display: none !important;
    }
}
