body {
    margin: 0;
    padding: 1em 0 0 0;
}

#container {
    width: 100%;
}

#animation {
    text-align: center;
    width: 100%;
}

#animation img {
    margin: 0.5em 1em;
    padding: 3px;
    border: 2px solid #dadada;
    border-radius: 7px;
}

#animation img.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#animation img.ka {
    margin: 1em;
    width: 30%;
}

.glowing {
    outline: none;
    border-color: #ECC;
    box-shadow: 0 0 20px #ECC;
}

#player {
    width: 320px;
    height: 130px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#player p {
    margin: 0.2em 0;
    padding: 0;
}

#player #record_text {
    width: 300px;
    height: 60px;
}

#player button {
    width: 90px;
    height: 24px;
}

#yt_video {
    text-align: center;
}

#fb_like {
    position: absolute;
    top: 10px;
    left: 10px;
}

#tempo {
    width: 6em;
}

#tempo_stat {
    margin-right: 20px;
    float: right;
}

@media screen and (max-width: 500px) {
    img {
        width: 50%;
    }

    img .ka {
        margin: 1em 0;
    }

    #yt_video {
        margin: 0 -2em;
    }

    #fork_me {
        display: none;
    }

    #player {
        bottom: 20px;
    }
}
